@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using oneSTIOnlineTuitionPayment.Data
@model oneSTIOnlineTuitionPayment.Models.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Document</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
</head>
<body>

    <!-- HEADER -->
    <header class="site_header">
        <div class="desktop_tablet_nav">
            <div class="top_con">
                <div class="hamIcon_con">
                    <i class="fa-solid fa-bars" id="hamBtnDesk" style="color: white;"></i>
                </div>

                <div class="logo_con">
                    <a href=""><img src="/img/oneSTILogo.svg" alt="logo" class="logo"></a>
                </div>
            </div>

            <div class="avatar_con" id="deskAvatar">
                <img src="/img/defaultAvatar.png" alt="avatar" class="avatar">
            </div>
        </div>

        <div class="phone_nav">
            <div class="logo_con">
                <img src="/img/oneSTILogo.svg" alt="logo" class="logo">
            </div>
        
            <div class="hamIcon_con">
                <i class="fa-solid fa-bars" id="hamBtnPhone" style="color: white;"></i>
            </div>
        </div>

    </header>

    <!-- MAIN -->
    <div class="main-flex">

        <!-- SIDEBAR -->
        <aside class="site_sidebar" id="siteSidebar">
            <nav class="sidebar_nav">  
                <ul class="nav_list">
                    <li class="nav_items">
                        <div class="profile">
                            <div class="avatar_con" id="phoneAvatar">
                                <img src="/img/defaultAvatar.png" alt="avatar" class="avatar">
                            </div>

                            <h6>Student</h6>
                        </div>
                    </li>

                    <li class="nav_items" id="navItems">
                        <a href="">
                            <i class="nav-icon ti-wallet"></i>
                            <h6>Balances</h6>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main id="main">
            @RenderBody()
        </main>
    </div>

    <div class="modal" id="popUp">
        <div class="modal_content">
            <div class="top_con_pop">
                <div class="close_con">
                    <img src="/img/close.svg" alt="close" id="closeBtn">
                </div>

                <h3>Payment Method</h3>
            </div>

            <div class="main_con" id="mainCon">

                <!-- PAYMENT METHOD -->
                <div class="payment_method" id="paymentMethodCon">
                    <p>Pay with</p>

                    <div class="payment_method_con">
                        <div class="method_con" id="gcashPayment">
                            <div class="method_img_con gcash_logo">
                                <img src="/img/gcashLogo.svg" alt="gcash">
                            </div>

                            <h6>GCash</h6>
                        </div>

                        
                        <div class="method_con" id="mayaPayment">
                            <div class="method_img_con maya_logo">
                                <img src="/img/mayaLogo.svg" alt="maya">
                            </div>

                            <h6>PayMaya</h6>
                        </div>
                    </div>
                </div>


                <!-- TRANSACTION -->
                <div class="transaction" id="transactionCon">
                    <div class="top_con_transac">   
                        <div class="rem_bal_con">
                            <p>Remaining balance:</p>
                            <div class="tabs_price pop_up">
                                <p>PhP</p>
                                <p>@Model.RemBalance?.Balance.00</p>
                            </div>
                        </div>

                        <div class="pay_meth_con">
                            <p>Payment method:</p>
                            <p id="paymentMethodPTag">GCash</p>
                        </div>
                    </div>

                    <form asp-controller="Home" asp-action="SubmitPayment" method="post" id="payAmountForm" class="pay_meth_form">
                        <div class="amount_con">
                            <!-- PAYMENT METHOD -->
                            <input type="hidden" name="PaymentMethod" id="paymentMethod">

                            <label for="amount">Amount:</label>

                            <div class="amount_input">
                                <input type="number" name="Amount" id="amount" class="no_spinner" step="1" min="0" required>
                                <div class="placeholder">    
                                    <img src="/img/pesosSign.jpg" alt="pesoSign">
                                    <p>0.00</p>
                                </div>
                            </div>

                            <p class="amount_error" id="amountError"></p>
                        </div>

                        <button class="pop_up_btn_proceed" type="submit" id="proceedBtn">Proceed</button>
                    </form>
                </div>

                <!-- TRANSACTION DETAIL -->
                <div class="transaction_details" id="transactionDetailsCon">
                    <div class="top_con_trans_details">
                        <p>Transfer from</p>
                        <p>2000398244</p>
                        <p>To</p>
                        <p>STI College</p>
                    </div>

                    <div class="main_trans_det">
                        <div>
                            <div class="trans_detail_con">
                                <div class="payment_method_con_details">
                                    <p>Payment Method</p>
                                    <p>GCash</p>
                                </div>

                                <div class="amount_details">
                                    <p>Amount</p>
                                    <div class="amount_price">
                                        <p>-</p>
                                        <p>1,000.00</p>
                                    </div>
                                </div>

                                <div class="date_time_details">
                                    <p>Date & Time</p>

                                    <div class="date_time_con">
                                        <p>Sep</p>
                                        <div>
                                            <p>26</p>
                                            <p>,</p>
                                        </div>
                                        <p>2025</p>
                                        <div>
                                            <p>11</p>
                                            <p>:</p>
                                            <p>50</p>
                                        </div>
                                        <p>AM</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ref_num_details">
                            <p>Reference Number</p>
                            <p>6032890764306</p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPT -->
    <script src="~/js/main.js" asp-append-version="true"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>