<div class="otp_con">
    <div class="top_desc_con_otp">
        <div class="top_text_otp">
            <h5>One-Time</h5>
            <h5 class="pin">PIN</h5>
        </div>

        <div class="top_desc_text_otp">
            <p>Please enter the one-time PIN (OTP) that we sent to +63</p>
            <p>099 48751671</p>
        </div>

    </div>

    <form action="" class="otp_form">
        <div class="otp_con_input">
            <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp_box" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp_box" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp_box" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp_box" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp_box" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp_box" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
        </div>

        <div class="bot_con_otp">
            <button asp-controller="PayMaya" asp-action="PayMayaDetails" type="submit">Verify</button>

            <div class="bot_text_otp">
                <p>Didn't receive the code?</p>
                <a href="" class="resend_code">Resend code</a>
            </div>
        </div>
    </form>
</div>