@{
    ViewData["Title"] = "Home Page";
}
<div class="top_bar">
    <div class="top_flex">
        <div class="balance">
            <h5>Remaining Balance: </h5>
            <h5 class="rem_balance">PhP <p id="remBalance">@Model.RemBalance?.Balance</p>.00</h5>
        </div>

        <div class="grade_level">
            <h5>Senior High School</h5>
        </div>

        <div class="school_term">
            <p>Current School Year & Term: </p>
            <p class="current_term">2025-2026 1st Term SHS</p>
        </div>
    </div>
</div>


<div class="main_flex">
    <div class="parent_flex">
        <div class="grid_item1"> 
            <div class="pay_con">
                <div class="paynow_btn" id="payNowBtn">
                    <p>Pay Now</p>
                </div>
            </div>

            <!-- TRANSACTION HISTORY -->
            <div class="transaction_history">
                <div class="tabs_top_bar">
                    <h5>Transaction History</h5>
                </div>

                <div class="transac_main">

                    <!-- TRANSACTION LIST -->
                    <ul class="transac_list" id="transacList"></ul>
                    <script>
                        (async function() {
                            try {
                                const response = await fetch("Home/getTransaction");
                                const data = await response.json();

                                const transacList = document.getElementById("transacList");
                                transacList.innerHTML = "";

                                // GROUP EACH LIST BY DATE
                                const grouped = {};
                                data.forEach(d => {
                                    if (!grouped[d.dateOnly]) grouped[d.dateOnly] = [];
                                    grouped[d.dateOnly].push(d);
                                });

                                // TODAYS DATE
                                const todayDate = new Date();
                                const yesterdayDate = new Date();
                                yesterdayDate.setDate(todayDate.getDate() - 1);

                                const today = todayDate.toLocaleDateString("en-CA");
                                const yesterday = yesterdayDate.toLocaleDateString("en-CA");

                                for (const [date, transactions] of Object.entries(grouped)) {
                                    const liDay = document.createElement("li");
                                    liDay.classList.add("day_transac");

                                    let dateLabel;
                                    if (date === today) {
                                        dateLabel = "Today";
                                    } else if (date === yesterday) {
                                        dateLabel = "Yesterday"
                                    } else {
                                        dateLabel = new Date(date).toLocaleDateString("en-US", {
                                            month: "long",
                                            day: "numeric",
                                            year: "numeric"
                                        });
                                    }

                                    liDay.innerHTML = 
                                    `<div class="transac_date">
                                        <!-- DAY -->
                                        <p class="list_date">${dateLabel}</p>
                                    </div>
                                    
                                    <ul class="day_transac_list" id="timePayed"></ul>
                                    `;

                                    const timePayedListId = liDay.querySelector(".day_transac_list");

                                    transactions.forEach(transaction => {
                                        const list = document.createElement("li");
                                        list.innerHTML = `
                                            <div class="transac_item">
                                                <!-- TIME -->
                                                <p class="transac_time">${transaction.timeOnly}</p>

                                                <div class="transac_amount_decr">
                                                    <p>Tuition Fee</p>

                                                    <!-- AMOUNT PAID -->
                                                    <p>-${Number(transaction.amount).toLocaleString("en-US")}.00</p>
                                                </div>
                                            </div>
                                        `;
                                        timePayedListId.appendChild(list);
                                    });

                                    transacList.appendChild(liDay);
                                }
                            } catch (error) {
                                console.error("No data")
                            }   
                        }) ();
                    </script>
                </div>
            </div>
        </div>
        
    
        <div class="grid_item2">
            <div class="payment_schedule">
                <div class="tabs_top_bar"> 
                    <h5>Payment Schedule</h5>
                </div>

                <div class="main_pay_sched">
                    <ul class="pay_sched_list" id="paySchedList">
                       <!-- <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>

                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li> -->   

                    </ul>

                    <script>
                    (async function() {
                    try {
                        const response = await fetch("Home/getPaymentSched");
                        const data = await response.json();

                        const paySchedList = document.querySelector(".pay_sched_list");
                        paySchedList.innerHTML = "";

                        data.forEach(item => {
                            const dateLabel = new Date(item.createdAt).toLocaleDateString("en-US", {
                                month: "long",
                                day: "numeric",
                                year: "numeric"
                            });

                            const list = document.createElement("li");
                            list.classList.add("pay_date_item");
                            list.innerHTML = `
                                <div class="pay_date_item_date">
                                    <p>${dateLabel}</p>
                                </div>

                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p>${Number(item.amount).toLocaleString("en-US")}.00</p>
                                </div>  
                            `;

                            paySchedList.appendChild(list);
                        });

                    } catch (error) {
                        console.error("Error:", error);
                    }
                })();
                    </script>
                </div>

                <div class="tabs_bot_bar">
                    <p>Total</p>
                    <div class="tabs_price">
                        <p>PhP</p>
                        <p><span id="paySchedTotal"></span>.00</p>

                        <script>
                            (async function() {
                                const response = await fetch("Home/getPaymentSched");
                                const data = await response.json();
                                let paySchedTotal = 0;

                                data.forEach(amount => {
                                    paySchedTotal += amount.amount;
                                });
                                
                                document.getElementById("paySchedTotal").textContent = paySchedTotal.toLocaleString("en-US");
                            
                            }) ();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="parent_flex">
        <div class="grid_item3">

            <div class="school_year_term">
                <h5>School Year & Term:</h5>
                <div class="dropdown_school_year_term">
                    <p>2025-2026 1st Term SHS</p>
                </div>
            </div>

            <div class="charges">
                <div class="tabs_top_bar">
                    <h5>Charges for</h5>
                    <h5>2025-2026 1st Term SHS</h5>
                </div>

                <div class="charges_main">
                    <ul class="charges_list">
                        <li>
                            <div class="charges_item">
                                <p>Registration Fee</p>

                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p >1,000.00</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="charges_item">
                                <div class="charges_item_child">
                                    <p>Tuition and Miscellaneous Fee</p>
                                    <p class="charges_desc">(Tuition Fee, ID Fee, Insurance, Publication Fee, Student Services Fee)</p>                                
                                </div>

                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p id="chargesFee">17,500.00</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="charges_item"> 
                                <div class="charges_item_child">
                                    <p>Other School Fee</p>
                                    <p class="charges_desc">(General Software License, Institutional Development Fee, Instructional Materials Fee, Internet Fee, Laboratory, Learning Management System, Learning Packages)</p>
                                </div>
                                
                                
                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p id="otherSchoolFees">0.00</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="tabs_bot_bar">
                    <p>Gross Assessment</p>

                    <div class="tabs_price">
                        <p>PhP</p>
                        <p>18,500.00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_item4">
            <div class="payments_adjustments">
                <div class="tabs_top_bar">
                    <h5>Payments and Adjustments for </h5>
                    <h5>2025-2026 1st Term SHS</h5>
                </div>

                <div class="pay_ad_main">

                    <!-- PAYMENT AND ADJUSTMENT LIST -->
                    <ul class="pay_ad_list_parent" id="payAdListParent"> </ul>
                    
                    <script>
                        (async function() {
                            try {
                                const response = await fetch("Home/getTransaction");
                                const data = await response.json();

                                const payAdListParent = document.getElementById("payAdListParent");
                                payAdListParent.innerHTML = "";

                                // GROUP EACH LIST
                                const grouped = {};
                                data.forEach(d => {
                                    if (!grouped[d.dateOnly]) grouped[d.dateOnly] = [];
                                    grouped[d.dateOnly].push(d);
                                });

                                // TODAYS DATE
                                const today = new Date().toLocaleDateString("en-CA");

                                for (const [date, transactions] of Object.entries(grouped)) {
                                    const listGroup = document.createElement("li");
                                    
                                    const dateLabel = new Date(date).toLocaleDateString("en-US", {
                                        month: "long",
                                        day: "numeric",
                                        year: "numeric"
                                    });

                                    listGroup.innerHTML = `
                                        <div>
                                            <div class="pay_ad_top_tab">
                                                <div class="pay_ad_top_tab_date">
                                                    <p>${dateLabel}</p>
                                                    <!-- <div>
                                                        <p>Jun</p>
                                                        <p>,</p>
                                                    </div>
                                                    <p>2025</p> -->
                                                </div>

                                                <p> | </p>

                                                <div class="pay_ad_top_tab_or">
                                                    <p>OR #</p>
                                                    <p>Restructed Fees Deduction OF</p>
                                                </div>
                                            </div>

                                            <ul class="pay_ad_list_child">
                                        
                                            </ul>
                                        </div>
                                    `;

                                    const payAdListChild = listGroup.querySelector(".pay_ad_list_child");

                                    let totalAmountPerList = 0;

                                    transactions.forEach(transaction => {
                                        // TOTAL AMOUNT 
                                        totalAmountPerList += Number(transaction.amount);

                                        const list = document.createElement("li");
                                        list.classList.add("pay_date_item");
                                        list.innerHTML = `
                                            <div class="pay_date_item_date">
                                                <p>Tuition fee</p>
                                            </div>

                                            <div class="tabs_price">
                                                <p>PhP</p>
                                                <p>${Number(transaction.amount).toLocaleString("en-US")}.00</p>
                                            </div>  
                                        `;

                                        payAdListChild.appendChild(list);
                                    });

                                    // TOTAL <li>
                                    const totalLi = document.createElement("li");
                                    totalLi.classList.add("pay_date_item_total_fixed");
                                    totalLi.innerHTML = `
                                        <p>Total</p>

                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>${totalAmountPerList.toLocaleString("en-US")}.00</p>
                                        </div> 
                                    `;
                                    payAdListChild.appendChild(totalLi);
                                    payAdListParent.appendChild(listGroup);

                                }

                            } catch (error) {
                                console.error("No data");
                            }
                        }) ();
                    </script>
                </div>

                <div class="tabs_bot_bar">
                    <p>Assessment Balance</p>

                    <div class="tabs_price">
                        <p>PhP</p>
                        <p><span id="totalAssessmentBalance"></span>.00</p>

                        <script>
                            (async function() {
                                const response = await fetch("Home/getTransaction");
                                const data = await response.json();
                                let totalAssessmentBalance = 0;

                                data.forEach(transaction => {
                                    totalAssessmentBalance += transaction.amount;
                                });

                                document.getElementById("totalAssessmentBalance").textContent = totalAssessmentBalance.toLocaleString("en-US");
                            }) ();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
