@{
    ViewData["Title"] = "Main";
}
<div class="top_bar">
    <div class="top_flex">
        <div class="balance">
            <h5>Remaining Balance: </h5>
            <h5 class="rem_balance">PhP 6,900.00</h5>
        </div>

        <div class="grade_level">
            <h5>Senior High School</h5>
        </div>

        <div class="school_term">
            <p>Current School Year & Term: </p>
            <p class="current_term">2025-2026 1st Term SHS</p>
        </div>
    </div>
</div>


<div class="main_flex">
    <div class="parent_flex">
        <div class="grid_item1"> 
            <div class="pay_con">
                <div class="paynow_btn" id="payNowBtn">
                    <p>Pay Now</p>
                </div>
            </div>

            <div class="transaction_history">
                <div class="tabs_top_bar">
                    <h5>Transaction History</h5>
                </div>

                <div class="transac_main">
                    <ul class="transac_list">
                        <li class="day_transac">
                            <div class="transac_date">
                                <p>Today</p>
                            </div>

                            <ul class="day_transac_list">
                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="day_transac">
                            <div class="transac_date">
                                <p>Today</p>
                            </div>

                            <ul class="day_transac_list">
                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="day_transac">
                            <div class="transac_date">
                                <p>Today</p>
                            </div>

                            <ul class="day_transac_list">
                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="transac_item">
                                        <p class="transac_time">1:00 PM</p>

                                        <div class="transac_amount_decr">
                                            <p>Tuition Fee</p>
                                            <p>-1,000.00</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        
    
        <div class="grid_item2">
            <div class="payment_schedule">
                <div class="tabs_top_bar"> 
                    <h5>Payment Schedule</h5>
                </div>

                <div class="main_pay_sched">
                    <ul>
                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>

                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>

                        <li class="pay_date_item">
                            <div class="pay_date_item_date">
                                <p>15</p>
                                <p>Oct</p>
                                <p>,</p>
                                <p>2025</p>
                            </div>
                            
                            <div class="tabs_price">
                                <p>PhP</p>
                                <p>1,560.00</p>
                            </div>  
                        </li>
                    </ul>
                </div>

                <div class="tabs_bot_bar">
                    <p>Total</p>
                    <div class="tabs_price">
                        <p>PhP</p>
                        <p>18,500.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="parent_flex">
        <div class="grid_item3">

            <div class="school_year_term">
                <h5>School Year & Term:</h5>
                <div class="dropdown_school_year_term">
                    <p>2025-2026 1st Term SHS</p>
                </div>
            </div>

            <div class="charges">
                <div class="tabs_top_bar">
                    <h5>Charges for</h5>
                    <h5>2025-2026 1st Term SHS</h5>
                </div>

                <div class="charges_main">
                    <ul class="charges_list">
                        <li>
                            <div class="charges_item">
                                <p>Registration Fee</p>

                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p>1,000.00</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="charges_item">
                                <div class="charges_item_child">
                                    <p>Tuition and Miscellaneous Fee</p>
                                    <p class="charges_desc">(Tuition Fee, ID Fee, Insurance, Publication Fee, Student Services Fee)</p>                                
                                </div>

                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p>1,000.00</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="charges_item"> 
                                <div class="charges_item_child">
                                    <p>Other School Fee</p>
                                    <p class="charges_desc">(General Software License, Institutional Development Fee, Instructional Materials Fee, Internet Fee, Laboratory, Learning Management System, Learning Packages)</p>
                                </div>
                                
                                
                                <div class="tabs_price">
                                    <p>PhP</p>
                                    <p>1,000.00</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="tabs_bot_bar">
                    <p>Gross Assessment</p>

                    <div class="tabs_price">
                        <p>PhP</p>
                        <p>18,500.00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_item4">
            <div class="payments_adjustments">
                <div class="tabs_top_bar">
                    <h5>Payments and Adjustments for </h5>
                    <h5>2025-2026 1st Term SHS</h5>
                </div>

                <div class="pay_ad_main">
                    <ul class="pay_ad_list_parent">
                        <li>
                            <div>
                                <div class="pay_ad_top_tab">
                                    <div class="pay_ad_top_tab_date">
                                        <p>11</p>
                                        <div>
                                            <p>Jun</p>
                                            <p>,</p>
                                        </div>
                                        <p>2025</p>
                                    </div>

                                    <p> | </p>

                                    <div class="pay_ad_top_tab_or">
                                        <p>OR #</p>
                                        <p>Restructed Fees Deduction OF</p>
                                    </div>
                                </div>

                                <ul class="pay_ad_list_child">
                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>

                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>
                                            
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>
                                            
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item_total_fixed">
                                        <p>Total</p>

                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div>
                                <div class="pay_ad_top_tab">
                                    <div class="pay_ad_top_tab_date">
                                        <p>11</p>
                                        <div>
                                            <p>Jun</p>
                                            <p>,</p>
                                        </div>
                                        <p>2025</p>
                                    </div>

                                    <p> | </p>

                                    <div class="pay_ad_top_tab_or">
                                        <p>OR #</p>
                                        <p>Restructed Fees Deduction OF</p>
                                    </div>
                                </div>

                                <ul class="pay_ad_list_child">
                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>

                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>
                                            
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>
                                            
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item_total_fixed">
                                        <p>Total</p>
                                        
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div>
                                <div class="pay_ad_top_tab">
                                    <div class="pay_ad_top_tab_date">
                                        <p>11</p>
                                        <div>
                                            <p>Jun</p>
                                            <p>,</p>
                                        </div>
                                        <p>2025</p>
                                    </div>

                                    <p> | </p>

                                    <div class="pay_ad_top_tab_or">
                                        <p>OR #</p>
                                        <p>Restructed Fees Deduction OF</p>
                                    </div>
                                </div>

                                <ul class="pay_ad_list_child">
                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>

                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>
                                            
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item">
                                        <div class="pay_date_item_date">
                                            <p>15</p>
                                            <p>Oct</p>
                                            <p>,</p>
                                            <p>2025</p>
                                        </div>
                                            
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div>  
                                    </li>

                                    <li class="pay_date_item_total_fixed">
                                        <p>Total</p>
                                        
                                        <div class="tabs_price">
                                            <p>PhP</p>
                                            <p>1,560.00</p>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                </div>

                <div class="tabs_bot_bar">
                    <p>Assessment Balance</p>

                    <div class="tabs_price">
                        <p>PhP</p>
                        <p>18,500.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



