@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Gcash Payment";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/gcash-phone.css" asp-append-version="true" />
</head>
<body>

    <div class="header">
        <img src="~/img/gcashLogoWhite.svg" alt="GCash Logo" class="logo">
    </div>

    <div class="payment-box">
        <div class="details">
            <p>Merchant <span>STI College</span></p>
            <p>Amount to send <span id="amount" class="amount">PHP 1000.00</span></p>
        </div>

        <h3>Login to pay with GCash</h3>
<form action="/Gcash/OtpPage" method="get">
    <label>+63 |</label>
    <input type="number" placeholder="Mobile Number" class="enterphone" required>
    <button type="submit">Next</button>
</form>

    </div>

</body>
</html>
